<div class="page">

  <mat-tab-group backgroundColor="primary" mat-align-tabs="center">
    <mat-tab label="UTENTI">
      <div class="pt-16 pl-8 pr-8 tabula">
        <gestione-utenti></gestione-utenti>
      </div>
    </mat-tab>
    <mat-tab label="CALCOLO">
      <div class="pt-16 tabula">
        <calcolo-voti></calcolo-voti>
      </div>
    </mat-tab>
    <mat-tab label="SVINCOLATI">
      <div class="pt-16 tabula">
        <gestione-rose></gestione-rose>
      </div>
    </mat-tab>
    <mat-tab label="SQUADRE">
      <div class="pt-16 tabula">
        <gestione-squadre></gestione-squadre>
      </div>
    </mat-tab>

  </mat-tab-group>


</div>