@font-face {
    font-family: 'Rock Salt';
    src: url('~/assets/fonts/Regular/RockSalt-Regular.woff2') format('woff2'),
        url('~/assets/fonts/Regular/RockSalt-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paint';
    src: url('~/assets/fonts/Regular/FingerPaint-Regular.woff2') format('woff2'),
        url('~/assets/fonts/Regular/FingerPaint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}