<label class="btn btn-default btn-file">
  Update File
  <input type="file" style="display: none;" (change)="importVoti($event)"
    accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
</label>

<div class="partite pl-8 pb-8 pt-16">
  <div *ngFor="let item of risultati" class="pr-8 pb-8">
    <div class="partita my-card">
      <div class="casa">

        <div class="squadraC pa-8">
          <label class="pr-8">{{item.casa.squadra.substring(0, 8)}}</label>
          <input value="{{gol(item.casa)}}" [(ngModel)]="item.casa.gol" type="number" class="voto" disabled>
        </div>
        <div class="pa-8">
          <div *ngFor="let ele of item.casa.formazione" class="calciatore">
            <label class="pr-8">{{ele.calciatore.substring(0, 9)}}</label>
            <input value="{{ele.voto}}" [(ngModel)]="ele.voto" type="number" class="voto">
          </div>
        </div>
        <div class="calciatore pa-8">
          <label class="pr-8">TOT.</label>
          <input value="{{somma(item.casa)}}" [(ngModel)]="item.casa.totale" type="number" class="voto" disabled>
        </div>
      </div>
      <div class="trasferta">
        <div class="squadraT pr-8 pt-8 pb-8">
          <label>{{item.trasferta.squadra.substring(0, 8)}}</label>
          <input value="{{gol(item.trasferta)}}" [(ngModel)]="item.trasferta.gol" type="number" class="voto" disabled>
        </div>
        <div class="pr-8 pt-8 pb-8">
          <div *ngFor="let ele of item.trasferta.formazione" class="calciatore">
            <label class="pr-8">{{ele.calciatore.substring(0, 9)}}</label>
            <input value="{{ele.voto}}" [(ngModel)]="ele.voto" type="number" class="voto">
          </div>
        </div>
        <div class="calciatore pa-8">
          <label class="pr-8">TOT.</label>
          <input value="{{somma(item.trasferta)}}" [(ngModel)]="item.trasferta.totale" type="number" class="voto"
            disabled>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pa-8">
  <my-button [submit]="false" [color]="'danger'" [block]="true" [disabled]="!risultati.length" [label]="'INVIA'"
    [loading]="loading_btn" (myClick)="updateRisultati()"></my-button>
</div>