<div class="page">

  <div class="container" style="text-align: center;">
    <div class="pa-8">
      <h3>Cambia Dati</h3>
    <mdb-card>
      
      <!--Card content-->
      <mdb-card-body class="px-lg-5 pt-8">

          <!-- Form -->
          <form class="text-center" style="color: #757575;"  (submit)="onUpdate(element)">

              <!-- Username -->
              <input type="text" id="username" class="form-control mb-4 mt-4" placeholder="Username" minlength="4"
                  maxlength="12" [(ngModel)]="element.username" value="{{username}}" name="username" required 
                  #user="ngModel"/>

              <!-- Email -->
              <input type="email" id="email" class="form-control mb-4" placeholder="Email" minlength="8"
                  maxlength="25" [(ngModel)]="element.email" name="email" required email #mail="ngModel"/>

              <!-- Squadra -->
              <input type="text" id="squadra" class="form-control mb-4 mt-4" placeholder="Squadra" minlength="4"
                  [(ngModel)]="element.squadra" name="squadra" required maxlength="12"  #team="ngModel"/>

              <!-- Sign in button -->
              <my-button [submit]="true" [color]="'danger'" [block]="true" [disabled]="mail.invalid||team.invalid||user.invalid"
                  [label]="'INVIA'" [loading]="loading_btn"></my-button>
          </form>
          <!-- Form -->

      </mdb-card-body>

  </mdb-card>
</div>
    <div class="pa-8">
    <h3>Cambia Immagine</h3>
    <div class="image-preview mt-16" *ngIf="previewUrl">
      <img [src]="previewUrl" width="220" height="220"/>
    </div>
    <div class="image-preview" *ngIf="!previewUrl">
      <img src="assets/img/omino.png" width="220" height="220" />
    </div>

    <label class="btn btn-default btn-file">
      Carica File
      <input type="file" style="display: none;" (change)="fileProgress($event)">
    </label>
    <my-button [submit]="false" [color]="'danger'" [block]="true" [disabled]="!fileData" [label]="'INVIA'"
      [loading]="loading_btn" (myClick)="uploadFile()"></my-button>
  </div>
</div>
</div>