.formazioni{
    display: flex;
    flex-direction: column;
  
}


::ng-deep .mat-dialog-container {
    background-image: url(../../../assets/img/campo_live.jpg);
	background-repeat: no-repeat, repeat;
	background-size: cover;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    padding-top: 8px;
    border-radius: 8px;
    background-color: #007fff;
    color: white;
}

