<div class="gradient-body">

    <div class="flex-central pt-56 pb-56 pl-16 pr-16">
  
      <!-- Material form login -->
      <mdb-card>
  
        <mdb-card-header class="danger-color white-text text-center py-4">
          <h5>
            <strong>Recuperala</strong>
          </h5>
        </mdb-card-header>
  
  
        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-8">
  
          <!-- Form -->
          <form class="text-center" style="color: #757575;" #element="ngForm" (submit)="recupera(element)">
  
            <!-- Username -->
            <input type="text" id="username" class="form-control mb-4 mt-4" placeholder="Username"
              [(ngModel)]="element.username" name="username" required />
  
            <!-- Email -->
            <input type="email" id="email" class="form-control mb-4" placeholder="Email" minLength="8" maxLength="25"
              [(ngModel)]="element.mail" name="email" required email/>
            
  
            <!-- Sign in button -->
            <my-button [submit]="true" [color]="'danger'" [block]="true" [disabled]="element.invalid" [label]="'INVIA'" [loading]="loading_btn"></my-button>
  
            <!-- Forgot login -->
            <a routerLink="/sign-in">Torna Al Login</a> 
  
          </form>
          <!-- Form -->
  
        </mdb-card-body>
  
      </mdb-card>
      <!-- Material form login -->
  
    </div>
    
  </div>
  
  