<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-1 navbar-dark red" [containerInside]="false" mdbStickyHeader>

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <mdb-badge pill="true">
      <img src="assets/upload/utente_{{id_utente}}.png"  style="cursor:pointer" (click)="info()" class="avatar" width="24px" />
    </mdb-badge>
  </mdb-navbar-brand>
  <div class="navbar-brand" href="#">{{username}}</div>
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isAdmin" class="nav-item my-flex-start">
        <mdb-icon fas icon="id-card-alt" class="white-text pr-2"></mdb-icon>
        <a class="nav-link waves-light" routerLink="/home/gestione-admin" mdbWavesEffect>GESTIONE ADMIN</a>
      </li>
      <li *ngIf="isPlayer" class="nav-item my-flex-start">
        <mdb-icon fas icon="poo" class="white-text pr-2"></mdb-icon>
        <a class="nav-link waves-light" routerLink="/home/dashboard" mdbWavesEffect>HOME</a>
      </li>
      <li *ngIf="isPlayer" class="nav-item my-flex-start">
        <mdb-icon fas icon="file-signature" class="white-text pr-2"></mdb-icon>
        <a class="nav-link waves-light" routerLink="/home/formazione" mdbWavesEffect>INSERISCI FORMAZIONE</a>
      </li>
      <li *ngIf="isPlayer" class="nav-item my-flex-start">
        <mdb-icon fas icon="umbrella-beach" class="white-text pr-2"></mdb-icon>
        <a class="nav-link waves-light" routerLink="/home/calendario" mdbWavesEffect>CALENDARIO RISULTATI</a>
      </li>
      <li *ngIf="isPlayer" class="nav-item my-flex-start">
        <mdb-icon fas icon="walking" class="white-text pr-2"></mdb-icon>
        <a class="nav-link waves-light" routerLink="/home/rose-utenti" mdbWavesEffect>ROSE UTENTI</a>
      </li>
      <li class="nav-item my-flex-start">
        <mdb-icon fas icon="user-alt-slash" class="white-text pr-2"></mdb-icon>
        <a class="nav-link waves-light" (click)="logOut()" mdbWavesEffect>Log Out</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<!--/.Navbar-->
<div class="mt-56" style="min-height:400px;">
  <my-spinner></my-spinner>
  <my-alert></my-alert>
  <router-outlet></router-outlet>
</div>
<my-footer></my-footer>
