<div *ngIf="!loading_page" class="page">
  
  
  <div style="text-align: center;">
    <h4>{{attuale}}° DA DISPUTARE</h4>
  </div>

  <div class="mt-24" *ngIf="prossimo">
    <h4>PROSSIMO TURNO:</h4>

    <mdb-card>

      <!--Card content-->
      <mdb-card-body style="cursor:pointer" (click)="inserisciFormazione()">
          <div class="squadre">
              <div class="row col-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="col-8 col-sm-8 col-md-6 col-lg-6  punteggio">
                      <img src="assets/upload/utente_{{prossimo.id_casa}}.png"  class="avatar" width="24px" />
                  </div>
                  <div class="col-8 col-sm-8 col-md-6 col-lg-6  punteggio">
                      <label>
                          {{prossimo.casa}} 
                      </label>
                  </div>
              </div>
              <div class="punteggio col-4 col-sm-4 col-md-4 col-lg-4">
                <mdb-icon fas icon="futbol" class="pr-2"></mdb-icon>
              </div>
              <div class="row col-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="col-8 col-sm-8 col-md-6 col-lg-6  punteggio">
                      <img src="assets/upload/utente_{{prossimo.id_trasferta}}.png"  class="avatar" width="24px" />
                  </div>
                  <div class="col-8 col-sm-8 col-md-6 col-lg-6 punteggio">
                      <label>
                          {{prossimo.trasferta}} 
                      </label>
                  </div>
              </div>
          </div>
      </mdb-card-body>
  
  </mdb-card>
  </div>

  <div *ngIf="palinsesto">
    <div class="mt-24">
      <h4>RISULTATI</h4>
    </div>
    <risultati [num]="attuale" [palinsesto]="palinsesto"></risultati>
  </div>
  <div class="mt-24">
    <h4>CLASSIFICHE</h4>
  </div>
  <div *ngFor="let classifica of classifiche">
    <div class="mt-24">
    <mdb-card>
      <p class="pl-24 pt-16 pb-0 mb-0">GIRONE {{classifica.girone.toUpperCase()}}</p>
      <!--Card content-->
      <mdb-card-body>
        <table class="table table-hover">
          <thead class="red white-text rounded-lg">
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of classifica.lista">
              <td>
                <div class="squadra">
                  <img src="assets/upload/utente_{{el.id_utente}}.png" class="avatar" width="24px" />
                  <div class="pl-8">{{el.squadra}}</div>
                </div>
              </td>
              <td>{{el.gol}}</td>
              <td>{{el.punti}}</td>
            </tr>
          </tbody>
        </table>
      </mdb-card-body>

    </mdb-card>
  </div>
  </div>

</div>